.header {
    background-image: url('https://picsum.photos/1920/1080?random');
    background-size: cover;
    background-position: center;
    height: 95vh;
    
}

.text-color {
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.7);
}